@charset 'UTF-8';

@font-face {
    font-family: 'texto';
    src: url(../fontes/open-dyslexic.ttf) format(truetype);
}

/* A mente do site */

* {
    margin: 0;
    padding: 0;
}
body {
    font: 1.3em 'Arial', 'San-serif';
    max-width: 100%;
    height: auto;
    background-image: url(../imagens/Brilhos\ rosas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* A mente do site */

#pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

#pagina .texto {
    font-family: 'texto';
    text-align: center;
    font-size: 2em;
    color: #d40c6a;
    font-weight: bolder;
}
#pagina .texto p {
    margin: 2% 5%;
}

#pagina .formulario {
    background-color: white;
    border: 5px groove #d40c6a;
    color: white;
    border-radius: 2em;
    width: 40%;
    padding: 2% 0;
}
#pagina .formulario .caixa {
    padding: 4% 10%;
    margin: 0 auto 0.5em;
    font-size: 1em;
}
#pagina .formulario .caixa .campo {
    position: relative;
}
#pagina .formulario .caixa .campo label {
    position: absolute;
    color: #D5405E;
    left: 0;
    bottom: 2%;
    padding: 1.5% 0;
    font-size: 1.2em;
    cursor: text;
    transition: .3s ease-in-out;
}
#pagina .formulario .caixa .campo .input {
    font-size: 1em;
    color: #d40c6a;
    width: 100%;
    margin: 0% auto;
    border: 0;
    border-bottom: 2.5px solid #D5405E;
    outline: 0;
    transition: .1s ease-in-out;
}
#pagina .formulario .caixa .campo .input:focus,
#pagina .formulario .caixa .campo .input:valid {
    border-bottom: 3px solid #d40c6a;
}
#pagina .formulario .caixa .campo .input:focus ~ label,
#pagina .formulario .caixa .campo .input:valid ~ label {
    transform: translateY(-60%);
    font-size: 1em;
    color: #d40c6a;
}
#pagina .formulario .caixa .aviso {
    color: #000000;
}
#pagina .formulario .botoes {
    width: auto;
    text-align: center;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 1em;
}
#pagina .formulario .botoes input {
    font-size: 1em;
    border-radius: 1em;
    background-color: #FEE3E8;
    border-color: #FEE3E8;
    padding: 1% 2%;
}

/* O rodapé do site */

#rodape {
    background-color: #D5405E;
    text-align: center;
    padding: 1.5em;
    color: white;
    font-size: 1.5em;
}
#rodape a {
    color: #FEE3E8;
    text-decoration: none;
    transition-duration: .6s;
}
#rodape a:hover {
    color: #ff97a8;
    text-decoration: none;
    transition-duration: .6s;
}
#rodape a:active {
    color: #FEE3E8;
    text-decoration: none;
    transition-duration: .2s;
}