/* A mente do site */
@charset "UTF-8";

/* Fonte ortográfica */
@font-face {
    font-family: 'texto';
    src: url(../fontes/open-dyslexic.ttf) format(truetype);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 1.3em 'Arial', 'San-serif';
    max-width: 100%;
    height: auto;
    background-image: url(../imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

:focus {
    outline: 0;
}

/* Variáveis de cores */
:root {
    --rosa-escura: #d40c6a;
    --rosa-clara: #ff97a8;
    --vermelha-escura: #D5405E;
    --vermelha-clara: #FEE3E8;
}

/* Estilização da barrinha de rolagem */
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--rosa-escura);
    border-radius: 1em;
}

/* O conteúdo do site */
#pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2% auto;
}

#pagina .texto {
    font-family: 'texto';
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: var(--rosa-escura);
    border: 5px groove var(--rosa-escura);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
    border-radius: 1em;
    padding: 3% 0;
}
#pagina .texto p {
    margin: 2% 5%;
}

#pagina .formulario {
    background-color: white;
    border: 5px groove var(--rosa-escura);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
    color: white;
    border-radius: 2em;
    width: 40%;
    padding: 2% 0;
}
#pagina .formulario .caixa {
    padding: 4% 10%;
    margin: 0 auto 0.5em;
    font-size: 1em;
}
#pagina .formulario .caixa .campo {
    position: relative;
}
#pagina .formulario .caixa .campo label {
    position: absolute;
    color: var(--vermelha-escura);
    left: 0;
    bottom: 2%;
    padding: 1.5% 0;
    font-size: 1.2em;
    cursor: text;
    transition: .3s ease-in-out;
}
#pagina .formulario .caixa .campo .input {
    font-size: 1em;
    color: var(--rosa-escura);
    width: 100%;
    margin: 0% auto;
    border: 0;
    border-bottom: 2.5px solid var(--vermelha-escura);
    outline: 0;
    transition: .1s ease-in-out;
}
#pagina .formulario .caixa .campo .input:focus,
#pagina .formulario .caixa .campo .input:valid {
    border-bottom: 3px solid var(--rosa-escura);
}
#pagina .formulario .caixa .campo .input:focus ~ label,
#pagina .formulario .caixa .campo .input:valid ~ label {
    transform: translateY(-60%);
    font-size: 1em;
    color: var(--rosa-escura);
}
#pagina .formulario .caixa .campo .senha {
    position: absolute;
    display: inline;
    color: var(--rosa-escura);
    font-size: 1.5em;
    padding: 0.5% 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: .4s;
}
#pagina .formulario .caixa .campo .senha:focus-visible {
    outline: auto;
    padding: 1%;
}
#pagina .formulario .caixa .campo .senha:hover,
#pagina .formulario .caixa .campo .senha:focus-visible {
    color: var(--vermelha-escura);
}
#pagina .formulario .caixa .campo .senha.invisivel {
    display: none;
}
#pagina .formulario .caixa .aviso {
    color: black;
    margin-top: 1%;
}
#pagina .formulario .botoes {
    width: auto;
    text-align: center;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 1em;
}
#pagina .formulario .botoes button {
    border: 0;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 1em;
    background-color: var(--rosa-escura);
    color: white;
    padding: 2% 3%;
    cursor: pointer;
    transition-duration: .4s;
}
#pagina .formulario .botoes button:focus-visible {
    outline: auto;
}
#pagina .formulario .botoes button:hover,
#pagina .formulario .botoes button:focus-visible {
    background-color: var(--vermelha-escura);
}
#pagina .formulario .botoes button:active {
    background-color: var(--rosa-clara);
    transition-duration: .2s;
}

/* O rodapé do site */
#rodape {
    background-color: var(--vermelha-escura);
    text-align: center;
    padding: 1.5em;
    color: white;
    font-size: 1.5em;
}
#rodape a {
    color: var(--vermelha-clara);
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .4s;
}
#rodape a:hover,
#rodape a:focus-visible {
    background-color: white;
    color: var(--rosa-clara);
    border-radius: 1em;
    padding: 0.5%;
}
#rodape a:active {
    background-color: var(--vermelha-clara);
    color: white;
    transition-duration: .2s;
}